{% extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}

<h1>Postear</h1>
<form method="post" enctype="multipart/form-data" class="mi-formulario">
    {% csrf_token %}
    <label for="title" class="campo-label">Título:</label>
    <input type="text" name="title" class="campo-input" required value="{{ post.title|default:'' }}">
    
    <label for="content" class="campo-label">Contenido:</label>
    <textarea name="content" class="campo-textarea" required>{{ post.content|default:'' }}</textarea>
    
    <label for="imagen" class="campo-label">Imagen:</label>
    <input type="file" name="imagen" class="campo-input-file">
    
    <label for="vto">Fecha de vencimiento:</label>
    <input type="date" name="vto" value="{{ post.vto|date:'Y-m-d'|default:'' }}"><br>

    
    <input type="submit" value="Guardar" class="boton-guardar">
</form>

{% endblock %}

