{% extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}
  <h1>Lista de publicaciones</h1>
  <form method="GET" action="{% url 'inicio' %}" class="search-form">
    <input type="text" name="buscar" value="{{ search_query }}" placeholder="Buscar por título">
    <button type="submit">Buscar</button>
  </form>
  <table class="post-table">
    <tbody>
      {% for pst in page %}
        <tr>
          <td>
            {% if pst.imagen %}
            <img src="{{ pst.imagen.url }}" alt="post Image" width="150px">
            {% endif %}
          </td>
          <td>
            <h2>{{ pst.title }}</h2>
            <p>{{ pst.content }}</p>
            <p>{{ pst.vto }}</p>
            <a href="{% url 'edit_post' pst.pk %}">Editar este post</a><br>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Agrega enlaces de paginación -->
  <div class="pagination">
    <span class="step-links">
      {% if page.has_previous %}
        <a href="?page=1">&laquo; primero</a>
        <a href="?page={{ page.previous_page_number }}">anterior</a>
      {% endif %}

      <span class="current-page">{{ page.number }}</span>

      {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">siguiente</a>
        <a href="?page={{ page.paginator.num_pages }}">último &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}
